<center>
<h1><%= @novel.title %></h1>
<h5>By: <%=@novel.author %></h5>
</center>
<ul>

  <li> Description: <%=@novel.description %></li>
  <li> Rating: <%=@novel.rating%></li>
</ul>


<p><%=link_to "Return to Novels", novels_path %></p>
