<div class="col-md-10 col-md-offset-1">
  <div class="novel-header">
     <%= @novel.title %>
  </div>
  <div class="novel-details">
    <li> Author: <%= @novel.author %> </li>
    <li> Likes: <%=@novel.rating%></li>
  </div>
  <hr>
  <div class="novel-description">
  <li> <%=@novel.description %></li>
  </div>
  <br>
  <br>
  <center>
  <li><p><%= link_to "Edit", edit_novel_path(@novel), class:"btn btn-default" %>  <%= link_to "Delete", novel_path(@novel),
                              :data => {:confirm =>"You sure?",
                              :method => "delete"}, class:"btn btn-default" %></p></li>

  <center>
</div>
